main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    margin-top: 25px;
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 75vw;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

textarea {
    resize: vertical;
    height: 200px;
}

.error-message {
    margin-top: 5px;
    color: red;
    font-size: 0.8em;
    display: none;
}

.form-status {
    margin-top: 10px;
    padding: 10px;
    background-color: #f5c418;
    color: #000;
    border: 1px solid #ffdc6c;
    border-radius: 4px;
    display: none;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}